<%# Register form. %>

<form method="post">

  <label for="username">Username:</label>
  <input type="text" name="username" />

  <label for="email">Email:</label>
  <input type="text" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <label for="confirm">Confirm:</label>
  <input type="password" name="confirm" />

  <button type="submit">Submit</button>

</form>
