<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <!-- ** dev style ** -->
  <%= erb :'_layouts/__dev' %>
</head>
<body>

  <div class="container index">
    <h1><a href="/">exquisitehaiku</a></h1>
    <%= yield %>
  </div>

</body>
</html>
