<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>
  <div class="content index">
    <div class="logo">
      <a href="<%= url('/') %>">exquisitehaiku</a>
    </div>
    <%= yield %>
  </div>
</body>
</html>
